<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Flights.MyServiceHost.IIS.FlightsService" behaviorConfiguration="FlightsServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" 
                  behaviorConfiguration="FlightsServiceEndPointBehaviour" 
                  contract="Flights.MyServiceHost.IIS.FlightsService"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior name="FlightsServiceEndPointBehaviour">
          <webHttp helpEnabled="true"
                   defaultOutgoingResponseFormat="Json"
                   automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="FlightsServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBooking" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://ec2-54-254-213-24.ap-southeast-1.compute.amazonaws.com/Ink.CandidateTest_deploy/Service1.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooking"
          contract="BookingService.IBooking" name="BasicHttpBinding_IBooking" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>