<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBooking" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ec2-54-254-213-24.ap-southeast-1.compute.amazonaws.com/Ink.CandidateTest_deploy/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooking"
                contract="BookingService.IBooking" name="BasicHttpBinding_IBooking" />
        </client>
    </system.serviceModel>
</configuration>